{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ],
    "flow"
  ],
  "plugins": ["transform-object-rest-spread"],
  "retainLines": true
}
