# All files are ignored, except for the ones starting with !.
# *
# !./package.json
# !./packages/api/package.json
# !./packages/shared/package.json
# !./lerna.json

node_modules
packages/**/node_modules
packages/**/dist
yarn-error.log
