{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["emotion"],
  "rules": {
    "no-unused-vars": 0,
    "no-eval": 0,
    "no-undef": 0,
    "radix": 0,
    "import/first": 0,
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error"
  }
}
